DiscogsDesktop\DiscogsDesktop\DiscogsDesktop\bin\
DiscogsDesktop\DiscogsDesktop\DiscogsDesktop\obj\
DiscogsDesktop\DiscogsDesktop\libDiscogsDesktop\bin\
DiscogsDesktop\DiscogsDesktop\libDiscogsDesktop\obj\
DiscogsDesktop\DiscogsDesktop\libDiscogsDesktopControls\bin\
DiscogsDesktop\DiscogsDesktop\libDiscogsDesktopControls\obj\
