DiscogsDesktop/DiscogsDesktop/bin/
DiscogsDesktop/DiscogsDesktop/obj/
DiscogsDesktop/libDiscogsDesktop/bin/
DiscogsDesktop/libDiscogsDesktop/obj/
DiscogsDesktop/libDiscogsDesktopControls/bin/
DiscogsDesktop/libDiscogsDesktopControls/obj/
